@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html {
  font-weight: 600;
  font-family: fredoka, Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(156 163 175);
  touch-action: manipulation;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;

}

.rainbow {
  background-image: linear-gradient(to right bottom,
      rgb(165 243 252) 25%,
      rgb(217 249 157) 25% 50%,
      rgb(253 230 138) 50% 75%,
      rgb(251 207 232) 75%);
}