@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: fredoka;
  src: url("../public/fredoka-one.one-regular.otf") format("opentype");

}

*::-webkit-scrollbar {
  display: none;
}

body {
  background: rgb(156 163 175);
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  font-family: fredoka, Verdana, Geneva, Tahoma, sans-serif;
}