@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

html {
  font-weight: 600;
  font-family: fredoka, Verdana, Geneva, Tahoma, sans-serif;
  background: rgb(156 163 175);
  touch-action: manipulation;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;

}